<!DOCTYPE html>
<html>
    <head><title><%=@title %></title></head>
    <body>
        <h3>Welcome to Mikhail's Sinatra Test Site
        
        <p>Isn't this cool? IT240 is fun!</p>
        
        <h4>Click Here for the <a href="/">Index</a> Page</h4>
    </body>
</html>